.container {
  background-color: #EFE2DB;
  margin-top: 80px;
}

.homepage-container {
  background-color: rgb(161, 208, 230);
  overflow: hidden;
}

.home-jumbotron {
  background-image: url("../../images/wax3.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.home-twrLogo {
  z-index: 2;
  height: 270px;
  width: 270px;
  border: double 7px white;
  border-radius: 50%;
  margin: auto;
  transition: rotate 5s 360;
  background: transparent;
}

.home-row {
  /* background-image: url("../../images/wax15.png"); */
  background-color: rgba(138, 137, 135, 0.7);
  padding: 5px;
  margin: auto;
  justify-content: space-evenly;
  width: 100%;
}

.home-col {
  background-color: rgb(226, 211, 202);
  border: double 7px #fff;
  border-radius: 20px;
  margin: 5px;
  padding-top: 15px;
  max-width: 300px;
  max-height: 220px;
  vertical-align: center;
}

.home-col:hover {
  background-color: rgb(161, 208, 230);
  transition: 0.6s ease-in-out;
}

.home-col h3 {
  font-family: "Cinzel", sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: bold;
}

.home-button {
  height: 40px;
  width: 210px;
}

.home-button:hover {
  cursor: pointer;
  color:rgb(248, 242, 234);
}

@media (max-width: 480px) {
  .twrLogo {
    transform: scale(0.8);
    transition: 0.5s ease;
  }
}
