.container {
  background-color: #EFE2DB;
  /* margin-top: 80px; */
}

.serv-jumbotron {
  /* background-image: url("../../images/wax3.jpg"); */
  background-color: #EFE2DB;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-container {
  background-image: url("../../images/wax3.jpg");
  background-color: rgb(161, 208, 230);
  overflow: hidden;
  width: 100%;
  /* margin-bottom: 50px; */
}

.card, .card1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 230, 227);
  border: double 7px #fff;
  border-radius: 20px;
  margin: 15px;
  height: auto;
  width: auto;
}

.card:hover {
  background-color: rgb(161, 208, 230);
  transition: 0.6s ease-in-out;
}
.card1:hover {
  background-color: rgb(226, 162, 189);
  transition: 0.6s ease-in-out;
}

.card h3, .card1 h3 {
  margin-top: 7px;
  font-family: "Cinzel", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.services-button {
  height: 40px;
  width: 210px;
}

.services-button:hover {
  cursor: pointer;
  background-color: rgb(134, 142, 153);
  color:rgb(248, 242, 234);
}

.icon, .icon2 {
  border: double 7px #fff;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(161, 208, 230);
}
.icon:hover {
  background-color: rgb(226, 162, 189);
}

.icon2 {
  background-color: rgb(226, 162, 189);
}
.icon2:hover {
  background-color: rgb(161, 208, 230);
}