.f-waxing-container {
  background-color: rgb(161, 208, 230);
  height: 100%;
}

.container {
  background-color: #EFE2DB;
}

.jumbotron {
  background-color: #EFE2DB; 
  justify-items: center;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: "Cinzel", sans-serif;
  letter-spacing: 0.5px;
}

.table {
  width: 100%;
  border: double 7px #fff;
  justify-content: space-evenly;
}

.table thead {
  font-family: "Cinzel", sans-serif;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: center;
  background-color: rgb(215, 230, 236);
  border-bottom: double 7px #406072;
}

tr:hover {
  background-color: rgb(161, 208, 230);
}
td {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
th, td {
  border: solid 2px #fff;
}
